@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
/*references:https://www.youtube.com/watch?v=XRzAZBPp5iQ&t=854s */

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 61.9%;
}

body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
}

.news {
  display: grid;
  width: 111rem;
  grid-gap: 5.9rem;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1.1fr));
 
}

.news-post {
  background-color: white;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 3.1rem 5.9rem rgba(0, 0, 0, 0.1);
  
}

.news-post:hover {
  transform: translateY(-0.6%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.img {
  display: block;
  width: 100%;
  
  height:20rem;
}

.content {
  padding: 2.9rem;
}

.date span{
position:relative;
left:16rem;
bottom: 9.7rem;
font-size:1.2rem;
color:grey;
}

.date2 span{
position:relative;
left:16rem;
bottom: 13.2rem;
font-size:1.2rem;
color:grey;
}

.title {
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: -1rem;
  margin-bottom: 1.1rem;
}

.text {
  font-size: 1.61rem;
  letter-spacing: 0.11rem;
  line-height: 1.6;
  margin-bottom: 1.9rem;
}

.btn {
  display: block;
  width: 100%;
  padding: 1.1rem;
  font-size: 1.8rem;
  text-align: center;
  color:#0492c2;
  background-color: #d8e0fd;
  border: none;
  transition:0.3s;
  border-radius: 0.4rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
}
.btn span {
  margin-left: 1.1rem;
  transition: 0.2s;
}

.btn:hover,
.btn:active {
  background-color: #c2cffc;
}

.btn:hover span,
.btn:active span {
  margin-left: 1.4rem;
}


