header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 5px 20px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 213, 255, 0.493) 100%);
    z-index: 100000;
}

header img {
    position: relative;
    width: 110px;
    height: 40px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -50px;
    font-size: 20px;
}

header ul li {
    position: relative;
    list-style: none;
    margin: 0 15px;
    transition: 0.1s;

}

header ul li img {
    width: 25px;
    height: 25px;
    transition: 0.5s;
}

header ul li img:hover {
    transform: scale(1.3);

}

/* header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;

} */

.sidebar {
    position: fixed;
    margin-top: 50px;
    left: -250px;
    width: 250px;
    height: 100%;
    background: rgb(4, 0, 66);
    background: linear-gradient(180deg, rgba(4, 0, 66, 1) 15%, rgba(0, 161, 184, 1) 100%);
    transition: all 0.5s ease;
}

.sidebar ul {
    text-decoration: none;
    list-style: none;
}

.sideheader {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: white;

}

.sidebar ul a {
    display: block;
    background-color: rgba(0, 0, 0, 0.514);
    height: 50px;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    border-top: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    border-bottom: 1px solid rgb(255, 255, 255);
    transition: .3s;
    text-decoration: none;
}

.sidebar li:hover a {
    padding-left: 50px;
}

#sidebarcheck {
    display: none;
}

label #btn,
label #x {
    margin-top: 50px;
    height: 30px;
    width: 30px;
    position: absolute;
    cursor: pointer;
    background: rgba(0, 174, 255, 0.5);
    border-radius: 3px;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    padding: 6px 12px;
    transition: all 0.5s;
}

label #x {
    z-index: 1111;
    left: -195px;
    top: 17px;
    padding: 4px 9px;
    transition: all 0.5s ease;
}

#sidebarcheck:checked~.sidebar {
    left: 0;
}

#sidebarcheck:checked~label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#sidebarcheck:checked~label #x {
    left: 195px;

}

section{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.5s;
}

#sidebarcheck:checked ~ section {
    margin-left: 250px;
}